@import './colors';

.header {
  background-color: getColor('bcgColor');
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.header__hamburger {
  display: block;
  height: 26px;
  width: 32px;
  //   position: absolute;
  //   top: 17px;
  //   left: 20px;
  //   z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: getColor('whiteColor');
}

.main__nav {
  display: none;
}
