@import './colors';

.hero {
  background-color: getColor('bcgColor');
  padding-top: 26px;
  padding-bottom: 28px;

  // .hero__features

  &__features {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
  }
  &__features__item {
    color: getColor('greyColor');
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.43;
  }
  &__features__item:not(:last-child) {
    margin-right: 34px;
  }
  // .hero__title

  &__title {
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    color: getColor('whiteColor');
    max-width: 327px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
  }

  // .hero__benefits

  &__benefits {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  &__benefits__item {
    // position: relative;
  }

  &__benefits__item:not(:last-child) {
    margin-right: 24px;
  }

  &__benefits__item__text {
    color: getColor('secondColor');
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
  }
  &__benefits__item__text::before {
    // position: absolute;
    content: '';
    display: inline-block;
    color: getColor('secondColor');
    width: 16px;
    height: 16px;
    background-image: url(../images/logo/Ic_24-Check.png);
    margin-right: 8px;
    // top: 50%;
    // transform: translateY(-50%);
  }
}

.hero-adv {
  margin-top: 40px;
  margin-left: 48px;
  margin-right: 48px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 40px;
  // &::before {
  //   content: '';
  //   display: block;
  //   width: 20px;
  //   background-image: url(../images/logo/hero-adv-icons/decoration-left.png);
  // }

  &__item {
    flex: 1;
    // width: 85px;
    // flex-basis: calc((100% - 55px) / 1);
  }
}

.hero-adv__wrapper {
  // min-width: 85px;
}

.hero-adv__text {
  text-align: center;
  color: getColor('whiteColor');
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.42;
}
.hero-adv__wrapper-bcg {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #2e3f7d;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 8px;
}
// .hero-adv__icon {
// }
