<section class="advantages">
  <div class="container">
    <div class="advantages__block-header block-header">
      <h2 class="block-header__title">Our Services</h2>

      <p class="block-header__text">
        You have problems with leaking pipes, broken tiles, lost keys or want to
        tidy up the trees around you, of course you need our help!
      </p>
    </div>
    <ul class="advantages__items">
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic-Plumbing-Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Plumbing services</h3>
          <p class="advantages__info">
            Drain pipe leaking, pipe clogged, replace the pipe line
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic_Roof_Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Roofing repair</h3>
          <p class="advantages__info">
            Roof leaks, tile replacement, roof cleaning and maintenance
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic_Wall-Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Mold Removal</h3>
          <p class="advantages__info">
            Removing and cleaning mildew, Restoration and Prevention
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic_Wood-Tree-Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Tree Trimming</h3>
          <p class="advantages__info">
            Trimming and cleaning, Deadwood removal, Tree shaping
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic_Repair_Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Appliance Repair</h3>
          <p class="advantages__info">
            Repair of washing machines, refrigerators, Air conditioner, etc
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic_Bathroom-Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Bathroom Remodeling</h3>
          <p class="advantages__info">
            Design and Consulting, installation, Repairing, tile repair
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <div class="advantages__wrap-icon">
            <svg class="advantages__icon" width="40" height="40">
              <use href="/src/images/Ic_Door-Filled.svg"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">Locksmith</h3>
          <p class="advantages__info">
            Lock Installation and Repair, Duplication, Lock Rekeying
          </p>
        </div>
      </li>
    </ul>
    <div class="advantages__info-box block-header">
      <h3 class="block-header__title advantages__info-box__title">
        More service?
      </h3>
      <p class="block-header__text advantages__info-box__info">
        You can tell us what you need and we can help!
      </p>
      <button class="advantages__info-box__button">Call Us Now</button>
    </div>
  </div>
</section>
