<section class="benefits">
  <div class="container benefits-position">
    <img class="benefits__img" src="/src/images/howHomeProWork.png" alt="man" />
    <div class="list-wrapper">
      <h2 class="benefits__title">How HomePro works?</h2>
      <ul class="benefits__list">
        <li class="benefits__item">
          <div class="benefits__item-wrap">
            <span class="benefits__number">1.</span>
            <h5 class="benefits__subtitle">Call us anytime 24/7</h5>
          </div>

          <p class="benefits__discrip">
            You can contact us directly, we will quickly put you in touch with
            our home care professionals who are ready anytime
          </p>
        </li>
        <li class="benefits__item">
          <div class="benefits__item-wrap">
            <span class="benefits__number">2.</span>
            <h5 class="benefits__subtitle">Schedule Service</h5>
          </div>

          <p class="benefits__discrip">
            After connecting your call, our home care experts will answer your
            questions and provide flexible appointment times
          </p>
        </li>
        <li class="benefits__item">
          <div class="benefits__item-wrap">
            <span class="benefits__number">3.</span>
            <h5 class="benefits__subtitle">Your request is complated</h5>
          </div>

          <p class="benefits__discrip">
            Once your technician arrives, he will diagnose the problem and
            provide an estimate. If you decide to continue, the technician will
            get to work
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
