<section class="features">
  <div class="container">
    <div class="features__outer-wrap">
      <div class="features__block-header">
        <h2 class="features__title">
          Fast, Friendly, and Satisfaction Guarantee
        </h2>

        <p class="block-header__text">
          No matter how big or small your work is, whether it's for the interior
          or exterior of your home, we are ready to serve and help you solve
          your home problems.
        </p>
      </div>
      <ul class="features__items">
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_Guarantee-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Satisfaction Guarantee</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              You don't need to worry about scams or our performance results.
              our company has been verified and strives for optimal results
            </p>
            <!-- </div> -->
          </div>
        </li>
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_Quotes-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Free Quotes</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              Get personalized cost estimates without any obligation. Experience
              transparency and peace of mind as you explore our service.
            </p>
            <!-- </div> -->
          </div>
        </li>
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_Local-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Local Professionals</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              Our services cover the Nationwide, US area, including urban,
              suburban, and rural locations for both long and short term
              maintenance
            </p>
            <!-- </div> -->
          </div>
        </li>
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_24H-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Fast 24-Hour Service</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              Need fast handling for repairs to drains, leaks or something else?
              Our experts are available anytime to help you solve the problem
            </p>
            <!-- </div> -->
          </div>
        </li>
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_Calendar-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Flexible Appointments</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              We offer convenient appointment times that can accommodate your
              busy schedule, day or night, 7 days a week
            </p>
            <!-- </div> -->
          </div>
        </li>
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_Commitment-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Expertise and Experience</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              You are free to ask us about the problems you are facing. We offer
              a no-commitment approach to put your mind at ease
            </p>
            <!-- </div> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
