<div class="features">
  <div class="container">
    <div class="features__outer-wrap">
      <div class="features__block-header block-header">
        <h2 class="block-header__title">
          Fast, Friendly, and Satisfaction Guarantee
        </h2>

        <p class="block-header__text">
          No matter how big or small your work is, whether it's for the interior
          or exterior of your home, we are ready to serve and help you solve
          your home problems.
        </p>
      </div>
      <ul class="features__items">
        <li class="features__item">
          <div class="features__wrapper">
            <div class="features__wrap-icon">
              <svg class="features__icon" width="80" height="80">
                <use href="/src/images/features/Ic_Guarantee-Filled.svg"></use>
              </svg>
            </div>
            <h4 class="features__subtitle">Satisfaction Guarantee</h4>
            <!-- <div class="features__info__wrap"> -->
            <p class="features__info">
              You don't need to worry about scams or our performance results.
              our company has been verified and strives for optimal results
            </p>
            <!-- </div> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
