<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<header class="header container">
  <div class="header__menu">
    <div class="header__logo">
      <img src="/src/images/logo/main-logo.svg" alt="logo" />
    </div>
    <div class="header__hamburger">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <nav class="main__nav">
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a
            href="./index.html"
            class="site-nav__link current site-nav__link--current"
            >Студия</a
          >
        </li>

        <li class="site-nav__item">
          <a href="" class="site-nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
