<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <img class="hero__img" src="/src/images/image-hero-left@1x.png" alt="" />
      <div class="wrapper">
        <ul class="hero__features">
          <li class="hero__features__item">Maintenances</li>
          <li class="hero__features__item">Repairs</li>
          <li class="hero__features__item">Improvements</li>
        </ul>
        <h1 class="hero__title">
          Need improvement or repair your home? we can help!
        </h1>
        <ul class="hero__benefits">
          <li class="hero__benefits__item">Free Quotes</li>
          <li class="hero__benefits__item">100% Commitment-Free</li>
        </ul>
        <button type="button" class="button">
          Call Us Now
          <svg class="button__icon" width="32" height="32">
            <use href="/src/images/Icon-button-mob.svg"></use>
          </svg>
        </button>
        <ul class="hero-adv">
          <li class="hero-adv__item">
            <div class="hero-adv__wrapper">
              <div class="hero-adv__wrapper-bcg">
                <svg class="hero-adv__icon" width="17" height="16">
                  <use href="/src/images/check.svg"></use>
                </svg>
              </div>
              <p class="hero-adv__text">Satisfaction Guarantee</p>
            </div>
          </li>
          <li class="hero-adv__item">
            <div class="hero-adv__wrapper">
              <div class="hero-adv__wrapper-bcg">
                <svg class="hero-adv__icon" width="16" height="16">
                  <use href="/src/images/clock.svg"></use>
                </svg>
              </div>
              <p class="hero-adv__text">24H Availability</p>
            </div>
          </li>
          <li class="hero-adv__item">
            <div class="hero-adv__wrapper">
              <div class="hero-adv__wrapper-bcg">
                <svg class="hero-adv__icon" width="17" height="16">
                  <use href="/src/images/map-pin.svg"></use>
                </svg>
              </div>
              <p class="hero-adv__text">Local US Professional</p>
            </div>
          </li>
          <li class="hero-adv__item">
            <div class="hero-adv__wrapper">
              <div class="hero-adv__wrapper-bcg">
                <svg class="hero-adv__icon" width="17" height="16">
                  <use href="/src/images/calendar.svg"></use>
                </svg>
              </div>
              <p class="hero-adv__text">Flexible Appointments</p>
            </div>
          </li>
        </ul>
      </div>
      <img class="hero__img" src="/src/images/image-hero-right@1x.png" alt="" />
    </div>
  </div>
</section>
