<section class="hero">
  <div class="container">
    <ul class="hero__features">
      <li class="hero__features__item">Maintenances</li>
      <li class="hero__features__item">Repairs</li>
      <li class="hero__features__item">Improvements</li>
    </ul>
    <h1 class="hero__title">
      Need improvement or repair your home? we can help!
    </h1>
    <ul class="hero__benefits">
      <li class="hero__benefits__item">Free Quotes</li>
      <li class="hero__benefits__item">100% Commitment-Free</li>
    </ul>
    <button type="button" class="button">
      Call Us Now
      <svg class="button__icon" width="32" height="32" class="button__icon">
        <use href="./images/logo/Icon-button-mob.svg"></use>
      </svg>
    </button>
    <ul>
      <li class="hero__adv">Satisfaction Guarantee</li>
      <li class="hero__adv">24H Availability</li>
      <li class="hero__adv">Local US Professional</li>
      <li class="hero__adv">Flexible Appointments</li>
    </ul>
  </div>
</section>
