<section class="hero">
  <div class="container">
    <ul class="hero__features">
      <li class="hero__features__item">Maintenances</li>
      <li class="hero__features__item">Repairs</li>
      <li class="hero__features__item">Improvements</li>
    </ul>
    <h1 class="hero__title">
      Need improvement or repair your home? we can help!
    </h1>
    <ul class="hero__benefits">
      <li class="hero__benefits__item">
        <p class="hero__benefits__item__text">Free Quotes</p>
      </li>
      <li class="hero__benefits__item">
        <p class="hero__benefits__item__text">100% Commitment-Free</p>
      </li>
    </ul>
    <button type="button" class="button">
      Call Us Now
      <svg class="button__icon" width="32" height="32">
        <use href="/src/images/Icon-button-mob.svg"></use>
      </svg>
    </button>
    <ul class="hero-adv">
      <li class="hero-adv__item">
        <div class="hero-adv__wrapper">
          <div class="hero-adv__wrapper-bcg">
            <svg class="hero-adv__icon" width="17" height="16">
              <use href="/src/images/check.svg"></use>
            </svg>
          </div>
          <p class="hero-adv__text">Satisfaction Guarantee</p>
        </div>
      </li>
      <li class="hero-adv__item">
        <div class="hero-adv__wrapper">
          <div class="hero-adv__wrapper-bcg">
            <svg class="hero-adv__icon" width="16" height="16">
              <use href="/src/images/clock.svg"></use>
            </svg>
          </div>
          <p class="hero-adv__text">24H Availability</p>
        </div>
      </li>
      <li class="hero-adv__item">
        <div class="hero-adv__wrapper">
          <div class="hero-adv__wrapper-bcg">
            <svg class="hero-adv__icon" width="17" height="16">
              <use href="/src/images/map-pin.svg"></use>
            </svg>
          </div>
          <p class="hero-adv__text">Local US Professional</p>
        </div>
      </li>
      <li class="hero-adv__item">
        <div class="hero-adv__wrapper">
          <div class="hero-adv__wrapper-bcg">
            <svg class="hero-adv__icon" width="17" height="16">
              <use href="/src/images/calendar.svg"></use>
            </svg>
          </div>
          <p class="hero-adv__text">Flexible Appointments</p>
        </div>
      </li>
    </ul>
  </div>
</section>
