<div class="mob-menu js-menu-container" id="mob-menu">
  <div class="mob-menu__wrap">
    <div class="mob-menu__logo">
      <a href="#">
        <svg width="148" height="32">
          <use href="/src/images/main-logo.svg"></use>
        </svg>
      </a>
    </div>
    <button type="button" class="mob-menu__btn js-close-menu">
      <svg width="24" height="24" class="modal-close__icon">
        <use href="./images/btn-close.svg"></use>
      </svg>
    </button>
  </div>
  <nav class="mob-menu__nav">
    <ul class="mob-menu__nav-list">
      <li class="mob-menu__nav-item">
        <a href="#" class="mob-menu__nav-link">About Us</a>
      </li>
      <li class="mob-menu__nav-item">
        <a href="#" class="mob-menu__nav-link">Services</a>
      </li>
      <li class="mob-menu__nav-item">
        <a href="#" class="mob-menu__nav-link">Our Blog</a>
      </li>
      <li class="mob-menu__nav-item">
        <a href="#" class="mob-menu__nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  <span class="mob-menu__worktime">24 Hour Services</span>
</div>
