<section class="services">
  <div class="container">
    <!-- <div class="services__wrapper"> -->
    <div class="services__image">
      <img src="./images/mob-sec-prof.png" alt="builders image" />
    </div>
    <div class="services__block-header block-header">
      <h2 class="block-header__title">Professional for your home services</h2>

      <p class="block-header__text">
        You need help for home care? We are home care professionals focused in
        the US region. We provide several services that support home services
      </p>
    </div>
    <ul class="services__items">
      <li class="services__item">Repair and Installation</li>
      <li class="services__item">Maintenance</li>
      <li class="services__item">Home Security Services</li>
      <li class="services__item">Plumbing</li>
      <li class="services__item">Budget-friendly</li>
      <li class="services__item">Eco-friendly solutions</li>
    </ul>
    <div class="services__info">
      We already 24 hours fast services to help you. You can contact us at
      <a href="tel:(888) 617-5894">(888) 617-5894</a>
    </div>

    <!-- </div> -->
  </div>
</section>
